input{
    margin-top: 5px;
    margin-bottom: 16px;
}
body{
    background-color: #929eb1;
}
h2{
    padding: 25px;
}
textarea{
    margin-top: 5px;
    margin-bottom: 16px;
}
button{
    margin-top: 16px;
    height: 55px;
    width: 85px;
    
}